img,
 
embed,
 
object,
 
video {
  max-width: 100%;
}

img:not([alt]) {
  outline: 4px #f00 dashed !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.96rem;
  margin-bottom: 1.96rem;
}

.landing-page .grid-item {
  grid-column: span 1;
}


@media (max-width: 667px) {
  .landing-page {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  transition: transform 0.3s;
}

.grid-item:hover {
  transform: scale(1.3);
}

//i-frame i analysis
.analysis-iframe {
  width: 750px;
  height: 400px;
  display: flex;
}