// Components
@use 'components/App.scss';
@use 'components/Header.scss';
@use 'components/Footer.scss';
@use 'components/Navbar.scss';




// Pages
@use 'pages/Index.scss';

main {
    border: 1px solid green;
}