@use '../variables';

footer {
  width: 100%;
  background: variables.$main-color-header-footer;
  color: white;
  font-family: variables.$main-font-family;
}

.footer-container {
  max-width: 1200px;
  width: 100%; 
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}

footer p {
  color: white;
}
