@use '../variables';

header {
  background: variables.$main-color-header-footer;
  font-family: variables.$main-font-family;
  color: white;
  margin: auto;
  max-width: 800px;
  //border: 1px solid black;

  display: flex;                
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 20px;           
}

.icon {
  font-size: 4rem;
}

.header-h1 {
  font-size: 4rem;
}
