@use '../variables';

header {
  background: variables.$main-color-header-footer;
  font-family: variables.$main-font-family;
  color: variables.$main-font-color;
  margin: auto;
  max-width: 800px;
  text-align: center;
  border: 1px solid black;
}