@use '../variables';

header {
  width: 100%;
  background: variables.$main-color-header-footer;
  color: white;
  font-family: variables.$main-font-family;
}

.header-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 200px;                
  padding: 5px 5px;
}

.icon {
  font-size: 4rem;
}

.header-h1 {
  font-size: 4rem;
}
