.hero {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.home-img1 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.hero h1 {
  position: absolute;
  top: 50%;           
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.home-container1 {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  padding: 20px 0;         
}

.home-img2-1 {
  width: 220px;           
  margin-right: 40px;      
  border-radius: 30px;
}

.home-h3-1 {
  max-width: 300px;
  text-align: left;
  margin-left: 40px;         
  font-size: 1.1rem;
  line-height: 1.4;
  //font-style: italic;
}

.home-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
  padding: 20px 0;
}

.home-img2-2 {
  width: 220px;           
  margin-right: 40px;      
  border-radius: 30px;
}

.home-h3-2 {
  max-width: 300px;
  text-align: left;
  margin-right: 40px;         
  font-size: 1.1rem;
  line-height: 1.4;
  //font-style: italic;
}

.home-container3 {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  padding: 20px 0;         
}

.home-img2-3 {
  width: 220px;           
  margin-right: 40px;      
  border-radius: 30px;
}

.home-h3-3 {
  max-width: 300px;
  text-align: left;
  margin-left: 40px;         
  font-size: 1.1rem;
  line-height: 1.4;
  //font-style: italic;
}